<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container mt-5">
      <form action="{{ url_for('show_dataframes2') }}" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="file" class="form-label">Choose a XLSX file:</label>
          <input class="form-control" type="file" id="file" name="file" accept=".xlsx">
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-outline-success mt-3" type="submit">Upload and Process</button>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <a href="{{ url_for('download_txt') }}" class="btn btn-outline-success mt-3">Télécharger le fichier texte</a>
        </div>
      </form>

      {% if txt_content %}
      <div class="mt-5 d-grid gap-2 col-6 mx-auto">
        <h4>Passwords expiration :</h4>
        <button id="copy-btn" class="btn btn-outline-success mt-3 mb-3">Copier</button>
        <pre id="txt-content">{{ txt_content }}</pre>
      </div>
      {% endif %}
    </div>
    <script>
      const copyButton = document.getElementById('copy-btn');
      const textToCopy = document.getElementById('txt-content');

      copyButton.addEventListener('click', () => {
        const range = document.createRange();
        range.selectNode(textToCopy);
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(range);

        try {
          document.execCommand('copy');
          window.getSelection().removeAllRanges();
          alert('Le contenu a été copié avec succès !');
        } catch (error) {
          console.error('Erreur lors de la copie :', error);
        }
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-Qf3NiPTKbJij5A0rxtiYoD9Xq4SxuGKt3Kqs0gcET4ukDLorB6pftzzY/JhAb0f9" crossorigin="anonymous"></script>
  </body>
</html>
