<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">MAV</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('password_expiration') }}">Expiration Password</a>
    </div>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ticket
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('alltickets') }}">All tickets</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('coretech_ticket') }}">Core Tech</a></li>
            <li><a class="dropdown-item" href="{{ url_for('playout_ticket') }}">Playout</a></li>
            <li><a class="dropdown-item" href="{{ url_for('audiotech_ticket') }}">Audio Tech</a></li>
            <li><a class="dropdown-item" href="{{ url_for('mam_ticket') }}">Mam / Post Prod</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>