 <div class="container-fluid mt-4">
     <h3 class="display-6 text-center mb-6 border-bottom pb-4">{{ service }}</h3>
     <div class="container-fluid">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search your ticket here" aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-outline-success" type="button" id="button-addon2">Search</button>
            <button type="button" class="btn btn-outline-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
                <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                </svg>
                Add ticket
            </button>
        </div>
     </div>
      <div class="row">
          {% for item in content %}
            <div class="p-2 col-4">
              <div class="card shadow-sm p-3 mb-5">
                <div class="card-body d-flex justify-content-between align-items-start flex-column">
                  <h5 class="card-title">{{ item["title"] }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ item["keyword"] }}</h6>
                  <p class="card-text">
                    {{ item["paragraph"] }}
                  </p>
                <button class="btn btn-outline-success align-self-end" type="submit">Edit</button>
                </div>
              </div>
            </div>
          {% endfor %}
      </div>
    </div>
